<nav class="navbar navbar-default">
    <div class="navbar-header">
       <a class="navbar-brand" href="#">Welcome to Google Maps!</a>
      <ul class="nav navbar-nav">
        <li ><a href="">Home</a></li>
        <li><a href="nearby">Nearby</a></li>
      </ul>
    </div>     
</nav>
<div class="container">
<html> 
  <head>
     <title>Time and Distance</title>
  </head>
  <body>
    <form (submit)="Getdistance(startpoint.value, endpoint.value)">
  <div class="form-group">
    <label for="">From</label>
    <input type="text" class="form-control"  [(ngModel)]="_from" name="_from" placeholder="Starting Location" #startpoint>
  </div>
  <div class="form-group">
    <label for="">To</label>
    <input type="text" class="form-control"  [(ngModel)]="_to" name="_to" placeholder="Destination"  #endpoint>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <table class="table" *ngIf="info">
  <thead>
    <tr>
      <th scope="col">Distance</th>
      <th scope="col">Duration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>{{info.distance}}</td>
      <td>{{info.duration}}</td>
    </tr>
  </tbody>
</table>

<h2 *ngIf="info">Near By Places in {{info.start_address}}</h2>
<table class="table" *ngIf="res" >
  <thead>
    <tr>
      <th scope="col">Icon</th>
      <th scope="col">Name</th>
      <th scope="col">Rating</th>
      <th scope="col">Address</th>
      <th scope="col">Type</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let result of res">
      <td><img src={{result.icon}}></td>
      <td><b>{{result.name}}</b></td>
      <td>{{result.rating}}</td>
      <td>{{result.vicinity}}</td>
      <td>{{result.types}}</td>
      

    </tr>
  </tbody>
</table>

  </body>
</html>
</div>